html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-size:62.5%;
    box-sizing: border-box;
}

body{
    background-color:white;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-size:1.4rem;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*header starts*/
header{
    background-color:white;
    margin:0;
    padding:0;
    width:100%;
    height:10%;
    font-size:1.4rem;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    top:0;
}

#header_row_one{
    background-color:white;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:6rem;
}

#header_div_one{
    background-color:white;
    display:inline-block;
    float:left;
    margin:0;
    padding:0;
    width:20%;
    height:100%;
    text-transform: uppercase;
} 

#header_div_one a{
    opacity:.6;
    float:left;
    width:50%;
    height:100%;
    text-decoration:none;
}
#header_div_one a i{
    transform: translateY(2rem);
}
#header_div_one a span{
    line-height: 5.5rem;
}

#log_in{
    display: none;
}

#header_div_two{
    background-color:white;
    display:inline-block;
    margin:0;
    padding:0;
    width:20%;
    height:100%;
    line-height:5.5rem;
    text-transform: uppercase;
}

#header_div_two img{        
    width:100%;
    height:100%;
    
}

#header_div_three{
    background-color:white;
    display:inline-block;
    float:right;
    margin:0;
    padding:0;
    width: 20%;
    height:100%;
    
}
#header_div_three nav{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
#header_div_three nav ul{
    margin:0 auto;
    padding:0;
    display:block;
    height:100%;
    
}
#header_div_three nav ul li:nth-of-type(1){
    margin:0;
    padding:0;
    width:calc(100%/2);
    height:100%;
    display: inline-block;
    float:left;
    
}
#header_div_three nav ul li:nth-of-type(2){
    background-color:#56CC9D;
    margin:0;
    padding:0;
    width:calc(100%/2);
    height:100%;
    display:inline-block;
    float:right;
}

#header_div_three nav ul li a{
    text-decoration: none;
    font-size:1.4rem;
    text-transform: uppercase;
    color:#323232;
    line-height: 5.5rem;
}

#sign_up{
    color:white;
    font-weight: 600;
}

#hr_one{
    opacity:.5;
}

/*header ends*/
/*main start*/

main{
    margin:0;
    padding:0;
    width:100%;
    height:80%;
    box-sizing: border-box;
}

main section{
    background-image: url(http://i.imgur.com/uNStMdG.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:15rem;
    padding:0;
    width:100%;
    height:100%;
    
}

#main_div_one{
    margin:0;
    padding:0;
    width:100%;
    height:21rem;
    text-align:center;
    transform: translateY(10rem)
}
#main_div_one nav{
    display:block;
    margin:0 auto;
    padding:0;
    width:35%;
    height:100%;
    
}
#main_div_one nav ul{
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    list-style: none;
    
}
#main_div_one nav ul li{
    margin:.5rem;
    padding:0;
    width:100%;
    height:100%;
}
#main_div_one nav ul li span{
    color:white;
    font-size: 4rem;
    font-family:serif;
    font-weight: 800;
    width:100%;
    height:100%;
}

#main_span span{
    text-transform: capitalize;
}

#input{
    margin:0;
    padding:0;
    height:5rem;
    width: 99%;
    text-align: center;
    font-size: 3rem;
}

#button{
    margin:0;
    padding:0;
    height:5rem;
    width:100%;
    font-size: 2.5rem;
    background-color:#56CC9D;
}

#button a{
    text-decoration:none;
    color:white;
}

/*footer*/

footer{
    background-color:white;
    margin:0;
    padding:0;
    width:100%;
    height:20%;
    position: fixed;
    bottom:2rem;
}

#row_one{
    background-color:white;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:5.5rem;
}

#footer_div_one{
    background-color:lightgreen;
    margin:0;
    padding:0;
    width:35%;
    height:100%;
    display:inline-block;
    float:left;
}

#footer_div_one nav{
    background-color:white;
    margin:0;
    padding:0;
    width:100%;
    height:100%;    
}

#footer_div_one nav ul{
    background-color:white;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:100%;
    list-style: none;
}

#footer_div_one nav ul li{
    margin:0;
    padding:0;
    width:calc(100%/5);
    height:auto;
    float:left;
    text-align: center;
    text-transform: uppercase;
}
#footer_div_one nav ul li:nth-of-type(1){
    width:16%;
}
#footer_div_one nav ul li:nth-of-type(2){
    width:15%;
}
#footer_div_one nav ul li:nth-of-type(3){
    width:22%;
}
#footer_div_one nav ul li:nth-of-type(4){
    width:15%;
}
#footer_div_one nav ul li:nth-of-type(5){
    width:15%;
}

#footer_div_one nav ul li a{
    text-decoration:none;
    color: #323232;
    line-height: 5.5rem;
}

#footer_div_two {
    background-color:white;
    margin:0;
    padding:0;
    width:35%;
    height:100%;
    text-align: center;
    float:right;
}

#footer_div_two i{
    font-size: 2rem;
    transform: translateY(1.5rem);
    opacity: 1;
}
#footer_div_two span{
    display:inline-block;
    line-height: 1.5rem;
    transform: translateY(1.5rem);
    margin-left:1rem;
    position: relative;
    width:120px;
    font-weight: 600;
}

#phone{
    height:100%;
    width:calc(100%/2);
    float:left;
}
#email{
    display: inline-block;
    height:100%;
    width:calc(100%/2);
    float:right;
}


/*footer row two*/

hr{
    margin:0;
    padding:0;
    width:100%;
}

#row_two{
    background-color:white;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:5.5rem;
}

#footer_div_three{
    background-color:white;
    margin:0;
    padding:0;
    width:32%;
    height:100%;
    display:inline-block;
    float:left;
}

#footer_div_three nav{
    background-color:white;
    margin:0;
    padding:0;
    width:100%;
    height:100%;    
}

#footer_div_three nav ul{
    background-color:white;
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    height:100%;
    list-style: none;
}

#footer_div_three nav ul li{
    margin:0;
    padding:0;
    width:calc(100%/5);
    height:auto;
    float:left;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

#footer_div_three nav ul li a{
    text-decoration:none;
    color: #323232;
    line-height: 5.5rem;
}

#p{
    transform: translateY(1rem);
}
#social_media2{
    display: none;
}
#footer_div_four {
    background-color:white;
    margin:0;
    padding:0;
    width:30%;
    height:100%;
    display:inline-block;
    float:right;
    font-size:2.5rem;
    text-align: center;
}

#footer_div_four i{
    width:30px;
    opacity:1;
    transform: translateY(1.5rem);
    display: inline-block;
    
    
}
/*footer ends*/


/*media query starts*/

/*first break adjust main, footer*/
@media only screen and (max-width:933px){
    
        
#main_div_one nav ul li{
    margin:.5rem;
    padding:0;
    width:100%;
    height:100%;
}
#main_div_one nav ul li span{
    font-size: 3.7rem;
}

#input{
    height:4rem;
    font-size: 2.7rem;
}

#button{
    height:4rem;
    font-size: 2rem;
}


/*footer*/
#row_one{
    height:5rem;
}

#footer_div_one{
    height:100%;
}

#footer_div_one nav ul li{
    width:calc(100%/5);
}

#footer_div_one nav ul li:nth-of-type(1){
    width:16%;
}
#footer_div_one nav ul li:nth-of-type(2){
    width:15%;
}
#footer_div_one nav ul li:nth-of-type(3){
    width:22%;
}
#footer_div_one nav ul li:nth-of-type(4){
    width:15%;
}
#footer_div_one nav ul li:nth-of-type(5){
    width:15%;
}

#footer_div_one nav ul li a{
    font-size: 1.15rem;
}

#footer_div_two {
    height:100%;
    width:40%;
}

#footer_div_two i{
    font-size: 1.5rem;
    transform: translateY(1.5rem);
}
#footer_div_two span{
    width:110px;
    font-size:1.15rem;
}

#phone{
    width:calc(100%/2);
}
#email{
    width:calc(100%/2);
}

/*footer row two*/

#row_two{
    height:50%;
}

#footer_div_three{
    height:100%;
}

#footer_div_three nav ul li{
    width:6rem;
}

#footer_div_three nav ul li a{
    font-size: 1.2rem;
}

#p{
    transform: translateY(1rem);
    width:2.5rem;
}

#footer_div_four {
    font-size:1.7rem;
}

/*footer ends*/

}

/*first break main, footer ends*/
/*start of second break main text and footer*/
@media only screen and (max-width:877px){
    
/*main*/    
#main_div_one{
    height:20rem;
    transform: translateY(13rem)
}
#main_div_one nav{
    width:33.5%;
    
}
#main_div_one nav ul li span{
    font-size: 2.6rem;
}

#input{
    height:3rem;
    width:98%;
    font-size: 2.3rem;
}

#button{
    height:3.6rem;
    font-size: 2rem;
}

    
/*footer*/

    

#footer_div_one nav ul li:nth-of-type(1){
    width:18%;
}
#footer_div_one nav ul li:nth-of-type(2){
    width:17%;
}
#footer_div_one nav ul li:nth-of-type(3){
    width:28%;
}
#footer_div_one nav ul li:nth-of-type(4){
    width:17%;
}
#footer_div_one nav ul li:nth-of-type(5){
    width:17%;
}     

#footer_div_one nav ul li a{
    font-size: 1.1rem;
}

#footer_div_two {
    width:40%;
}
    
#footer_div_two span{
    width:90px;
    font-size:1.1rem;
}

#phone{
    width:calc(100%/2);
}
#email{
    width:calc(100%/2);
}

/*footer row two*/

#footer_div_three{
    width:45%;
}

#footer_div_three nav ul li{
    width:6rem;
}

#footer_div_three nav ul li a{
    font-size: 1.1rem;
}

#p{
    transform: translateY(1.5rem);
    width:2.1rem;
}

/*footer ends*/

    
/*end of second break for main text, and footer*/
    
}

/*tablet mode media query starts*/

@media only screen and (max-width:700px){
    
    /*header starts*/
header{
    height:60px;
}
    #header_row_one{
        height:100%;
    }
#header_div_one{
    display:none;
    
} 
    #header_div_two{
        transform: translateY(-.5rem)
    }

    #log_in{
        display:inline-block;
        float:left;
        height:100%;
        width:calc(100%/3);
        font-size:1.4rem;
        font-weight:600;
        opacity: .5;
        text-transform:uppercase;
        line-height: 6rem;
    }
    #log_in a{
        float:left;
        width:50%;
        height: 100%;
        text-decoration: none;
    }
    
    
#header_div_three{
    width: calc(100%/3);
    height:100%;    
}
#header_div_three nav ul{
    line-height: 6rem;
}
#header_div_three nav ul li:nth-of-type(1){
    display: none;
}

    #header_div_two{
        width:calc(100%/3);
    }
/*tablet mode media query starts*/

#main_div_one{
    height:18rem;
}
#main_div_one nav{
    width:60%;
    
}
    
#main_div_one nav ul li span{
    font-size: 2.5rem;
}

#input{
    height:3rem;
    width: 98%;
    font-size: 1.5rem;
}

#button{
    height:3.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

 /*tablet mode media query main ends*/  
    
/*tablet mode mdeia query footer starts */
    
    
/*footer*/

#row_one{
    height:120px;
    width:100%;
    display: block;
    margin:0 auto;
    text-align:center;
}

#footer_div_one{
    background-color: white;
    margin:0;
    display: inline-block;
    width:100%;
    height:calc(100%/3);
}
    
    #footer_div_one nav{
        display:block;
        margin:0 auto;
        width:60%;
    }

#footer_div_one nav ul{
    display:block;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    list-style: none;
    text-align: center;
}

#footer_div_one nav ul li{
    width:calc(100%/5);
    height:100%;
}

#footer_div_one nav ul li a{
    font-weight: 700;
    opacity:.8;
    font-size:1.2rem;
    line-height: 4rem;
}

#footer_div_two {
    width:59%;
    height:calc(100%/3);
    display: inline-block;
    margin:0;
    float: none;
    
}

#footer_div_two i{
    font-size: 1.5rem;
    transform: translateY(1.5rem);
    opacity: .8;
}
#footer_div_two span{
    width:110px;
    font-weight: 600;
    font-size:1.2rem;
    font-weight: 700;
    opacity: .9;    
}

#phone{
    display: inline-block;
    margin: 0;
    height:100%;
    width:calc(100%/2);
}
#email{
    display: inline-block;
    margin: 0;
    height:100%;
    width:calc(100%/2);
}
    
#social_media2{
    height:100%;
    width:100%;
    display: block;
    margin:0 auto;
    clear: both;
    
    }

    #social_media2 i{
        display: inline-block;
        width:calc(90%/5);
        float:none;
        height:100%;
        transform: translateY(.1rem);
        font-size: 2.5rem;
    }
    
/*footer row two*/


#footer_div_three{
    float:none;
    display: block;
    margin: 0 auto;
}
    
    #footer_div_three nav ul{
        display: block;
        margin: 0 auto;
        height:100%;
    }

#footer_div_three nav ul li{
    width:calc(100%/3);
    text-transform: capitalize;
}

#p{
    display: none;
}

#footer_div_four {
    display:none;
}
    
/*tablet mode mdeia query footer ends */
    
    
}

/*tablet mode media query ends*/

/*media query phone size starts*/

@media only screen and (max-width:480px){
    
    
    #header_div_two img{}
    
    
    #footer_div_one nav{
        width:80%;
    }

#footer_div_one nav ul li a{
    font-size:1.1rem;
}
    
    
#footer_div_two {
    width:70%;
    
}

#footer_div_two span{
    width:90px;
    font-size:1.1rem;
}

#phone{
    width:calc(100%/2);
}
#email{
    width:calc(100%/2);
}
    
#social_media2{
    width:90%;
    }

    #social_media2 i{
        transform: translateY(.4rem);
        font-size: 2.5rem;
        width:calc(80%/5);
    }
    
#footer_div_three{
    width:60%;
}
    
    
}

/*media query phone size ends*/
/*media query final starts*/
@media only screen and (max-width:380px){
 
    
    #log_in a{
        width:100%;
    }
    header{
        height: 45px;
    }
    #header_div_two img{
        transform: translateY(.5rem);
        width:100%;
    }
    #header_div_three nav ul li{
        line-height: 4.5rem;
    }
    
    #header_div_three nav ul li:nth-of-type(2){
        width:100%;
    }
    
    #log_in{
        line-height: 4.5rem;
        font-size:1.2rem;
    }
    #sign_up{
        font-size: 1.2rem;
        line-height: -2rem;
    }
    
    
#footer_div_two {
    width:100%;    
}
    
#footer_div_two span{
    width:100px;
    font-size:1rem;
}
    #footer_div_one nav{
        width:100%;
    }
    
    
}

/*media query final ends*/
/*media query ends*/


